html {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

header {
	background: #2F99E8;
	color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 15px;
}

.searchBox {
	padding-top: 25px;
}

.logo, .logo:hover{
	color: white;
	text-decoration: none;
}

.footer {
	position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: -180px;
    height: 180px;
    clear: both;
    background-color: #efefef;
}

ul { 
	padding-left: 0 !important; 
	list-style: none;  
}

#result {
	overflow: auto;
	padding-bottom: 180px; /* must be same height as the footer */
}

.hidden_space {
	height:6pt; 
	visibility:hidden;
	margin-top: 0px;
	margin-bottom: 0px;
}
