html {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

header {
	background: #2F99E8;
	color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 15px;
}

.searchBox {
	padding-top: 25px;
}

.logo, .logo:hover{
	color: white;
	text-decoration: none;
}

.footer {
    bottom:0;
    width:100%;
	padding-top: 20px;
	padding-bottom: 30px;
	background-color: #99979c;
}

ul { 
	padding-left: 0 !important; 
	list-style: none;  
}


.hidden_space {
	height:6pt; 
	visibility:hidden;
	margin-top: 0px;
	margin-bottom: 0px;
}
