<!DOCTYPE html>
<head>
	<title>Answer Students Questions</title>
	<link rel="stylesheet" type="text/css" href="static/content/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
	<header>
		<div class="top-heading">
			<h1 class="header-name">Parrot</h1>
			<br><br>
			<div class="row">
				<div class="col-lg-3"></div>
				<div class="col-lg-6">
				    <div class="input-group">
				    	<form></form>
				        <input type="text" id='search' class="form-control" placeholder="What do you want to learn?">
				        <span class="input-group-btn">
				        	<input type="submit" class="btn btn-default" type="button" value="Go" id="go-btn" onclick="go_search();">
				      	</span>
				    </div>
				</div>
				<div class="col-lg-3"></div>
			</div>
			<br><br>
			<button class="btn btn-default" onclick="go_upload();">Upload Recording</button>
			<br><br>
		</div>
	</header>

	<div class="break"></div>

	<h2 class="centered">Check out what we have for you today</h2>
	<br><br>
	<div class="container" id="main">
		<div class="libray">
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<a href="/search/insertion">
							<img src="static/image/algorithms.png">
							<div class="caption">
								<h4>Insertion Sort</h4>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<a href="/search/exponential">
							<img src="static/image/exponential.png">
							<div class="caption">
								<h4>Exponential Growth</h4>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<a href="/search/wave">
							<img src="static/image/calculus.png">
							<div class="caption">
								<h4>Wave Length</h4>
							</div>
						</a>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<a href="/search/stasis">
							<img src="static/image/writing.png">
							<div class="caption">
								<h4>Stasis Theory</h4>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<a href="/search/loop">
							<img src="static/image/programming.png">
							<div class="caption">
								<h4>For-Each Loop</h4>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<a href="/search/reproduction">
							<img src="static/image/biology.png">
							<div class="caption">
								<h4>Microbial Reproduction</h4>
							</div>
						</a>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
					<a href="/search/saturn">
						<img src="static/image/universe.jpeg">
						<div class="caption">
							<h4>Density of Saturn</h4>
						</div>
					</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<a href="/search/gravity">
							<img src="static/image/physics.jpeg">
							<div class="caption">
								<h4>Law of Gravity</h4>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<a href="/search/art">
							<img src="static/image/art.jpeg">
							<div class="caption">
								<h4>Italian Renaissance Art</h4>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="push"></div>
	</div>

	<div class="break"></div>
	<div class="break"></div>

	<footer class="footer">
		<div class="container">
			<h3>About</h3>
			<p>Parrot is brought to you by Ruizhe Li, Ruoxi Li, and Shengyi Chen</p>
			<p>Parrot provides students with an efficient and streamlined way to refresh their memory with important concepts. Students can search for and upload lecture recordings, search any keyword or concept in the recordings, or discover new content to satisfy their intellectual needs. Parrot will take the student to that moment in the lecture with clinical precision. </p>
		</div>	
	</footer>
	
	<script src="static/scripts/main.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>