<!DOCTYPE html>
<html>
<head>
	<title>Search Results</title>
	<link rel="stylesheet" type="text/css" href="/static/content/search.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>
<body>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h1><a href="/home" class="logo">Parrot</a></h1>
				</div>
				<div class="col-md-4">
					<div class="searchBox">
						<div class="input-group">
							<input type="text" class="form-control" id="search" placeholder="What do you want to learn?">
							<span class="input-group-btn">
								<button class="btn btn-default" id="go-btn" type="button" onclick="go_search();">Go</button>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	<div class="container">
		<h2>Search Results</h2>
		<p><strong class="text-danger">150</strong> results were found for the search for <strong class="text-danger">chemistry</strong></p><br>

		<section class="col-xs-12 col-sm-6 col-md-12" id="search_result">
			<article class="row">
				<div class="col-xs-12 col-sm-12 col-md-3">
					<a href="#" class="thumbnail"><img src="http://lorempixel.com/250/140/sports" alt="thumbnail"/></a>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-2">
					<ul class="metadata">
						<li><i class="glyphicon glyphicon-tags"></i> <span class="meta">chemistry, organic chemistry, more tags</span></li><hr class="hidden_space">
						<li><i class="glyphicon glyphicon-education"></i> <span class="meta">University of Maryland, College Park</span></li><hr class="hidden_space">
						<li><i class="glyphicon glyphicon-user"></i> <span class="meta">John Green</span></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-7">
					<p style="font-size: 24px;"><a href="#">Basic Chemistry</a></p>
					<p><strong class="text-danger">chemistry</strong> appeared <storng class="text-danger">13</storng> times</p>
					<p>An overview of the Periodic Table, inorganic substances, ionic and covalent bonding, bulk properties of materials, chemical equilibrium, and quantitative chemistry. CHEM131 is the first course in a four-semester sequence for students majoring in the sciences, other than Chemistry and Biochemistry majors.</p>
				</div>
			</article>
			<hr>

			<article class="row">
				<div class="col-xs-12 col-sm-12 col-md-3">
					<a href="#" class="thumbnail"><img src="http://lorempixel.com/250/140/sports" alt="thumbnail"/></a>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-2">
					<ul class="metadata">
						<li><i class="glyphicon glyphicon-tags"></i> <span class="meta">chemistry, organic chemistry, more tags</span></li><hr class="hidden_space">
						<li><i class="glyphicon glyphicon-education"></i> <span class="meta">University of Maryland, College Park</span></li><hr class="hidden_space">
						<li><i class="glyphicon glyphicon-user"></i> <span class="meta">John Green</span></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-7">
					<p style="font-size: 24px;"><a href="#">Basic Chemistry</a></p>
					<p><strong class="text-danger">chemistry</strong> appeared <storng class="text-danger">13</storng> times</p>
					<p>An overview of the Periodic Table, inorganic substances, ionic and covalent bonding, bulk properties of materials, chemical equilibrium, and quantitative chemistry. CHEM131 is the first course in a four-semester sequence for students majoring in the sciences, other than Chemistry and Biochemistry majors.</p>
				</div>
			</article>
			<hr>

			<article class="row">
				<div class="col-xs-12 col-sm-12 col-md-3">
					<a href="#" class="thumbnail"><img src="http://lorempixel.com/250/140/sports" alt="thumbnail"/></a>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-2">
					<ul class="metadata">
						<li><i class="glyphicon glyphicon-tags"></i> <span class="meta">chemistry, organic chemistry, more tags</span></li><hr class="hidden_space">
						<li><i class="glyphicon glyphicon-education"></i> <span class="meta">University of Maryland, College Park</span></li><hr class="hidden_space">
						<li><i class="glyphicon glyphicon-user"></i> <span class="meta">John Green</span></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-7">
					<p style="font-size: 24px;"><a href="#">Basic Chemistry</a></p>
					<p><strong class="text-danger">chemistry</strong> appeared <storng class="text-danger">13</storng> times</p>
					<p>An overview of the Periodic Table, inorganic substances, ionic and covalent bonding, bulk properties of materials, chemical equilibrium, and quantitative chemistry. CHEM131 is the first course in a four-semester sequence for students majoring in the sciences, other than Chemistry and Biochemistry majors.</p>
				</div>
			</article>
			<hr>

			<article class="row">
				<div class="col-xs-12 col-sm-12 col-md-3">
					<a href="#" class="thumbnail"><img src="http://lorempixel.com/250/140/sports" alt="thumbnail"/></a>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-2">
					<ul class="metadata">
						<li><i class="glyphicon glyphicon-tags"></i> <span class="meta">chemistry, organic chemistry, more tags</span></li><hr class="hidden_space">
						<li><i class="glyphicon glyphicon-education"></i> <span class="meta">University of Maryland, College Park</span></li><hr class="hidden_space">
						<li><i class="glyphicon glyphicon-user"></i> <span class="meta">John Green</span></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-7">
					<p style="font-size: 24px;"><a href="#">Basic Chemistry</a></p>
					<p><strong class="text-danger">chemistry</strong> appeared <storng class="text-danger">13</storng> times</p>
					<p>An overview of the Periodic Table, inorganic substances, ionic and covalent bonding, bulk properties of materials, chemical equilibrium, and quantitative chemistry. CHEM131 is the first course in a four-semester sequence for students majoring in the sciences, other than Chemistry and Biochemistry majors.</p>
				</div>
			</article>
			<hr>
			
			<article class="row">
				<div class="col-xs-12 col-sm-12 col-md-3">
					<a href="#" class="thumbnail"><img src="http://lorempixel.com/250/140/sports" alt="thumbnail"/></a>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-2">
					<ul class="metadata">
						<li><i class="glyphicon glyphicon-tags"></i> <span class="meta">chemistry, organic chemistry, more tags</span></li><hr class="hidden_space">
						<li><i class="glyphicon glyphicon-education"></i> <span class="meta">University of Maryland, College Park</span></li><hr class="hidden_space">
						<li><i class="glyphicon glyphicon-user"></i> <span class="meta">John Green</span></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-7">
					<p style="font-size: 24px;"><a href="#">Basic Chemistry</a></p>
					<p><strong class="text-danger">chemistry</strong> appeared <storng class="text-danger">13</storng> times</p>
					<p>An overview of the Periodic Table, inorganic substances, ionic and covalent bonding, bulk properties of materials, chemical equilibrium, and quantitative chemistry. CHEM131 is the first course in a four-semester sequence for students majoring in the sciences, other than Chemistry and Biochemistry majors.</p>
				</div>
			</article>
		</section>
	</div>
	
	<br>
	<div class="footer">
		<footer>
			<div class="container">
				<h3>About</h3>
				<p>Parrot is brought to you by Ruizhe Li, Ruoxi Li, and Shengyi Chen</p>
				<p>Parrot provides students with an efficient and streamlined way to refresh their memory with important concepts. Students can search for and upload lecture recordings, search any keyword or concept in the recordings, or discover new content to satisfy their intellectual needs. Parrot will take the student to that moment in the lecture with clinical precision. </p>
			</div>  
		</footer>
	</div>
	
	<script src="/static/scripts/main.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>