<!DOCTYPE html>
<html>
<head>
	<title>Upload Recording</title>
	<link rel="stylesheet" type="text/css" href="/static/content/upload.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>
<body>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h1><a href="/home" class="logo">Parrot</a></h1>
				</div>
				<div class="col-md-4">
					<div class="searchBox">
						<div class="input-group">
							<input type="text" class="form-control" id="search" placeholder="What do you want to learn?">
							<span class="input-group-btn">
								<button class="btn btn-default" id="go-btn" type="button" onclick="go_search();">Go</button>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	<div class="container">
		<br>
		<h2>Upload Successful</h2>
		<br>
		<p>Your recording has been successfully uplaoded, it can be found using the search box on the home page.</p>
		<p>You will be redirected to home page in a few seconds.</p>
		<br><br><br>
	</div>
	
	<br>
	<td align="bottom">
		<div class="footer">
			<footer>
				<div class="container">
					<h3>About</h3>
					<p>Parrot is brought to you by Ruizhe Li, Ruoxi Li, and Shengyi Chen</p>
					<p>Parrot provides students with an efficient and streamlined way to refresh their memory with important concepts. Students can search for and upload lecture recordings, search any keyword or concept in the recordings, or discover new content to satisfy their intellectual needs. Parrot will take the student to that moment in the lecture with clinical precision. </p>
				</div>  
			</footer>
		</div>
	</td>
	<script type="text/javascript">
		$(function(){

			window.setTimeout(redirect, 4000 );

			function redirect(){
		    	$(location).attr('href', '/home');
			};
			
		});
	</script>

	<script src="/static/scripts/main.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>