<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/static/content/info.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<script type="text/javascript">
		document.addEventListener("DOMContentLoaded", function() {
			var textarea = document.getElementById("tags");
			var tagOut = document.getElementById("tags-output");
			var hidden = document.getElementsByName("tags")[0];

			textarea.addEventListener("keyup", function() {

				function makeTagDiv(tag) {
					var div = document.createElement("div");
					div.innerHTML = tag;
					
					div.style.border = "1px solid silver";
					div.style.borderRadius = "4px";
					div.style.display = "inline-block";
					div.style.padding = ".25em 1em .25em 1em";

					div.addEventListener("click", function() {
						div.parentNode.removeChild(div);
						hidden.value = hidden.value.replace(div.innerHTML + " ", "");
					});
					
					return div;
				}

				console.log( textarea.value );

				while(true) {
					var match = /(\w+)(,|\s+)/.exec(textarea.value);
					if( match === null )
						break;
					textarea.value = textarea.value.replace(/.*(,|\s+)/, "");
					tagOut.appendChild( makeTagDiv(match[1]) );

					// e.g. add tag (match[1]) to hidden fild's list
					hidden.value += match[1] + " ";
				}

			});
		});
	</script>
</head>
<body>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h1>Answer Students Questions</h1>
				</div>
				<div class="col-md-4">
					<div class="searchBox">
						<div class="input-group">
					        <input type="text" class="form-control" placeholder="What do you want to learn?">
					        <span class="input-group-btn">
					        	<button class="btn btn-default" type="button">Go</button>
					      	</span>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</header>

		
	
	<div class="container">
		<br>
		<h2>Upload Video</h2>
		<h4>Tell us something about your recording while it is being proceessed</h4>
		<br>

		<div class="container">
			<form action="#" method="get">

			<!-- "Container/table" -->
			<div>
				<!-- Left col -->
				<div style="width:49%; display:inline-block;">
					Title: <input type="text" name="title">
				</div>

				<!-- Right col -->
				<div style="width:49%; display:inline-block;">
					Author: <input type="text" name="author"/>
				</div>
			</div>

			<br><br>
			Description:<br>
			<textarea name="textcontent" cols="40" rows="2"></textarea>
			<br><br>

			Tags Demo:
			<input id="tags" type="text">
			<input type="text" value="" name="tags" disabled="disabled"> <br>
			Tags: <div id="tags-output" style="display:inline-block; vertical-align:top;"></div> <br>

			</form>
		</div>

	</div>
	


	<br>
	<div class="footer">
		<footer>
		<div class="container">
			<h3>About</h3>
			<p>Answer Students Questions is brought to you by Ruizhe Li, Ruoxi Li, and Shengyi Chen</p>
			<p> We are building a system which collects audio/video recordings from teachers and let students look up with keywords based on the actual verbal content. ASQ will also match each audio/video file with the syllabus or text book of this course to estimate the possible inputs that students would enter in order to increase the accuracy of voice recognition.</p>
		</div>	
		</footer>
	</div>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>