<!DOCTYPE html>
<html>
<head>
	<title>Upload Recording</title>
	<link rel="stylesheet" type="text/css" href="/static/content/upload.css">
	<!--Bootstrap-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!--Bootstrap Select-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
	<!--jQuery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h1><a href="/home" class="logo">Answer Students Questions</a></h1>
				</div>
				<div class="col-md-4">
					<div class="searchBox">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="What do you want to learn?">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">Go</button>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	<div class="container" id="upload_section">
		<br>
		<h2>Upload Recording</h2>
		<br>

		<div class="container">
			<form action="/upload/upload_data" method="POST" name="upload_form" id="upload_form" enctype="multipart/form-data"> 
				<h4 class="upload_hint">Select files from your computer</h4>
				<label class="btn btn-default btn-file upload_hint" id="browse_button" style="display: table;">
				    Browse File
				    <input type="file" id="files" name="file" onchange="fileSelected();" style="display: none;">
				</label>

				<h4 class="upload_hint"><br>Or drag and drop files below</h4>
				<div id="drop_zone" class="upload_hint">
					Just drag and drop file here<br>
				</div>

				<h4 class="upload_show" style="display: none;">File selected</h4>
				<ul class="upload_show" style="display: none;">
					<li><div id="fileName"></div></li>
					<li><div id="fileSize"></div></li>
					<li><div id="fileType"></div></li>
					<li><div id="speed"><strong>Speed:</strong> upload not started</div></li>
					<li><div id="time"><strong>Time Remaining:</strong> upload not started</div></li>
				</ul>

				<div class="progress" id="progress-bar" style="display: none;">
					<div class="progress-bar progress-bar-striped active percent upload_show" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
				    	<span class="sr-only">0% Complete</span>
				  	</div>
				</div>

				<button type="button" class="btn btn-default upload_show" id="cancel_upload" onclick="abortRead()" style="display: none;">Cancel Upload</button>
				
				<div class="row" id="form_data">
					<br>
					<p>All fields marked with <font color="red">*</font> are required</p>
					<div class="col-md-5">
						Title <font color="red">*</font>: <input type="text" id="title" class="form-control" name="title"><br>
						Author <font color="red">*</font>: <input type="text" id="author" class="form-control" name="author"/><br>
						Course: <input type="text" class="form-control" id="course" name="course"/><br>
						Educational Institution: <input type="text" id="school" class="form-control" name="school"/><br>
					</div>
					<div class="col-md-1"></div>
					<div class="col-md-5">
						Category <font color="red">*</font>: <br>
						<select class="selectpicker" id="category" name=category title="Categories...">
							<option>Arts</option>
							<option>Business</option>
							<option>Computer Science/Information Technology</option>
							<option>Economics</option>
							<option>English</option>
							<option>Foreign Language</option>
							<option>Finance</option>
							<option>History/Social Science</option>
							<option>Mathematics</option>
							<option>Marketing</option>
							<option>Business</option>
						</select>
						<br><br>
						Tags <font color="red">*</font>:
						<div id="tags-output" style="display:inline-block; vertical-align:top;"></div><br>
						<input id="tags" class="form-control" name="tags-input" type="text">
						<input type="hidden" name="tags-hidden" disabled="disabled"> <br>
						Description:<br>
						<textarea name="textcontent" cols="40" rows="4" id="description" class="form-control" name="description"></textarea><br>
					</div>
				</div>

				<input type="button" class="btn btn-default" id="submit_button" onclick="validateForm();" value="Upload">
				<br><br>

			</form>

			<div id="insturction" style="display: none;">
				<h4>Please wait, your recording is being uploaded</h4>
				<ul>
					<li>You will be redirected to home page once the upload is completed</li>
					<li>The recording will be saved to our database for future reference</li>
					<li>You can find any word appeared in the recording by using the search box on the homepage</li>
				</ul>
				<br><br><br>
			</div>
		</div>

	</div>
	
	<br>
	<div class="footer">
		<footer>
			<div class="container">
				<h3>About</h3>
				<p>Answer Students Questions is brought to you by Ruizhe Li, Ruoxi Li, and Shengyi Chen</p>
				<p> We are building a system which collects audio/video recordings from teachers and let students look up with keywords based on the actual verbal content. ASQ will also match each audio/video file with the syllabus or text book of this course to estimate the possible inputs that students would enter in order to increase the accuracy of voice recognition.</p>
			</div>  
		</footer>
	</div>

	<script src="/static/scripts/upload.js"></script>
	<!--Bootstrap-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!--Bootstrap Select-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
</body>

</html>